<!--The content below is only a placeholder and can be replaced.-->
<div class="container" >
  <header  [@myAnimation]="state" (click)="animate()">
    <ul [ngClass]="{ 'hidden': !isBig  }">

      <li class="separated"><i class="material-icons" >comment</i></li>
      <li class="separated"><i class="material-icons">label</i></li>
      <li class="separated"><i class="material-icons">image</i></li>
    </ul>

    <ul class="center"  [ngClass]="{ 'hidden': isBig  }">

      <li><i class="material-icons">menu</i></li>
    </ul>

  </header>

</div>


